@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Chakma&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

 :root{
    
    --couleur3:#880d1e;
    --couleur2:#cbeef3;
    --couleur:#f26a8d;
    --couleur-cat-back:#dd2d4a  ;
    --couleur-cat:#000000 ;
    --font-family-h1:'anton',sens-serif;
    --font-family-h2:'inter',sens-serif;
    --font-size-h1:clamp(2.5rem ,6vw , 4.5rem);
    --font-size-h2:1.25rem;
    --cta-padding-start: 12px 30px;
    --cta-border:2px solid #fff;
    --cta-border-raduis:8px;
    --color:#f7f7f7;
    --moz-background:#f5e0ef ;
    --gap:1.5rem ;
    --border:1px solid #e2e8f0s ;
    --padding:2rem ;
    --magin-bottom: 1rem ;
    --op:1 ;
    --font:14px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    color: var(--couleur-cat);
    line-height: 1.6;
    font-size: var(--font);
}
.hero{
    color: var(--color);
    display: flex;
    height: 100vh;
    min-height: 600px;
    /* remplace image en arriére plan */
    background:  linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./../image/arriére.png ");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    overflow: hidden;
   

    }

    .text{
    color:var(--couleur-cat-back);
    font-size: 7rem;
}
.gradient-text{
    display: block;
   font-family: "Big Shoulders", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;

}
.hero-h2{
    font-family: var(--font-family-h2);
    font-size: var(--font-size-h2);
    max-width: 500px;
    opacity:var(--op);
}
/* boutons peronnalisés*/
.CTA-btn{
    color: var(--color);
    background-color: var(--couleur-cat-back);
    padding: var(--cta-padding-start);
    border-radius: 15px;
    font-weight:600 ;
    transition: .3s;
}
.CTA-btn:hover{
   transform: translateY(-10px) scale(1.02);
     box-shadow: 0 15px 30px rgba(117, 90, 90, 0.5);
    background-color:#f4eeee ;
    color: var(--couleur-cat);
}
.CTA-white{
    background-color: var(--color);
    padding: var(--cta-padding-start);
    border-radius: 15px;
    font-weight:600 ;
    transition: .3s;
    backdrop-filter: blur(5px);/*effet verre 2026*/
}
.CTA-white:hover{
    background-color:var(--couleur) ;
    color: var(--color);
}
.illustration{
    display: flex;
    font-size: 70px;
    gap: 15%;
}
/* grid 2026*/
.carte-section{
    margin-top: 100px;
    
}
.bento-grid{
    display: grid;
    gap:var(--gap);
    grid-template-columns: 1fr; 
    grid-auto-rows: minmax(160px , auto);
    max-width: 1110px;
    margin: 0 auto;
    }
    .bento-carte{
        background:var(--color);
        border: var(--border);
        border-radius: 30px;
        padding: var(--padding) ;
        position: relative;
        transition: all .3s cubic-bezier(.4 , 0, .2 , 1);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .bento-carte:hover{
        transform: translate Y(-5px);
        box-shadow: 0 20px 40px rgba(0,0,0,0,0.05);

    }
    /* logique asymétrique */
    .card-large{
        grid-column:span 2;
        grid-row: span 1;
        color: var(--couleur-cat);

    }
    .card-tall{
        grid-column: span 1;
        grid-row: span 1;
        color: var(--couleur-cat);
    }
    .card-wide{
        grid-column: span 1;
        grid-row: span 1;
        color: var(--couleur-cat);
    }
    .card-small {
         grid-column:span 2;
        background: var(--couleur);
        
    }
    .number{
        position: absolute;
        top: var(--gap);
        right: var(--gap);
        font-size: .8rem ;
        font-weight: 800;
        opacity: var(--op);
    }
    .icon{
        font-size: 2.5rem;
        margin-bottom: var(--magin-bottom);
    }
    .card {
        font-size: var(--gap);
        margin-bottom: var(--magin-bottom);

    }
    .card-p{
        font-size: var(--magin-bottom);
        line-height: 1.5;
        opacity: var(--op);
    }
   

.police-h2 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 font-size:50px;
}
.card-visage{
     display: grid;
    gap:var(--gap);
    grid-template-columns: repeat(2, 1fr); /*3 colonnes de base*/
    grid-auto-rows: minmax(160px , auto);
    max-width: 1110px;
    margin: 0 auto;
}
.catégories{
    color: var(--color);
     background:var(--couleur);
        border: var(--border);
        border-radius: 30px;
        padding: var(--padding) ;
        position: relative;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.h{
    display: flex;
    align-items: center;
    justify-content: center;
}
.catégories:hover{
     transform: translateY(-10px) scale(1.02);
     box-shadow: 0 15px 30px rgba(0,0,0,0.5);
     border-color: var(--couleur-cat);
}
.espace img{
    max-height: 400px;
    max-width: 800px;
}
.espace{
     border:2px solid #000000;
     max-height: 800px;
    max-width: 800px;
}
.text-or{
    color:var(--couleur-cat-back);
    font-size: 7rem;
}

    .po{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 30px;
        justify-content: center;

    }

   
@media screen and (min-width:768px) and (max-width:1200px)  {
    .po{
       
        grid-template-columns: repeat(2 ,1fr);
    }
    .bento-grid{
         grid-template-columns: repeat(2 ,1fr);
    }
   
}
@media screen and (min-width:1200px)  {
    .po{
        
        grid-template-columns: repeat(3 ,1fr);
    
    }
     .bento-grid{
         grid-template-columns: repeat(3 ,1fr);
    }
   
}

.his{
    display: grid;
    align-items:flex-start;
    grid-template-columns:  40rem 40rem;
}
.img{
    width: 30rem;;
}
.his1{
    background: #000000;
    font-size: var(--gap);
}
.historique{
       display: grid;
        grid-template-columns: 1fr ;
        gap: 30px;
        justify-content: center;
    border-radius: 1px solid var(--couleur-cat);
}
.rew-3{
      display: grid;
    gap:var(--gap);
    grid-template-columns: repeat(3, 1fr); /*3 colonnes de base*/
    grid-auto-rows: minmax(160px , auto);
    max-width: 1110px;
    margin: 0 auto;
}

    
.rem{
    text-align: center;
}
.form{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    

}
.CTA-btn1{
    display: flex;
    justify-content: center;
    align-items: center;
  
     background-color: var(--couleur-cat-back);
    padding: var(--cta-padding-start);
    border-radius: 15px;
    font-weight:600 ;
    transition: .3s;
}
.action{
    background-color: var(--couleur-cat-back);
   height: 400px;
   z-index: 1;
}
a{
    text-decoration: none;
    color: var(--couleur-cat);
}

.cta{
    margin-top: 12%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: var(--padding);
}
.overlay1{
    text-align: center;
     font-family: var(--font-family-h2);
    font-size: var(--font-size-h2);
    opacity:var(--op);
   
}
.btn1{
    background-color: var(--couleur);
}
.btn1:hover {
     transform: translateY(-10px) scale(1.02);
     box-shadow: 0 15px 30px rgba(0,0,0,0.5);
     border-color: var(--couleur-cat);
}
.CTA-white:hover{
     transform: translateY(-10px) scale(1.02);
     box-shadow: 0 15px 30px rgba(0,0,0,0.5);
     border-color: var(--couleur-cat);
}
.footer{
    margin-top: 10%;
    
}
.footer1{
    display: grid;
grid-template-columns: repeat(2, 1fr);
}
.centre {
    color: var(--color);
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--couleur3);
}
.li{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* effet sombre */
.dark-mode-acceuil{
    background: linear-gradient(to bottom , var(--moz-background),var(--couleur3));
    color: var(--color);
    line-height: 1.6;
    font-size: var(--font);
       
}

